
@{
    ViewBag.Title = "Dashbord";
}

<br />

<div class="col-sm-6" id="adminSide" >
    <a href="/Admin/UserList" class="tile">
        <div class="glyphicon glyphicon-user"></div>
        <p>
        </p>
        <h1 class="panel-title">Kunde</h1>
        <p>Administrer kunder.</p>

    </a>
</div>


<div class="col-sm-6" id="adminSide">
    <a href="/Admin/MovieList" class="tile">
        <div class="glyphicon glyphicon-film"></div>
        <p>
        </p>
        <h1 class="panel-title">Film</h1>
        <p> Administrer filmer.</p>

    </a>
</div>